@model UBBBikeRentalSystem.ViewModels.VehicleDetailViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="grid grid-cols-12 mb-[50px]">
    <div class="col-span-1"></div>
    <div class="col-span-10 md:col-span-12">
        <div class="max-w-[440px] mx-auto text-center my-[36px]">
            <h2 class="text-[35px] col:text-[25px] text-white font-base-font font-bold mb-[20px]">Nowy rower</h2>
            <p class="text-[#D8D8D8] text-[16px] leading-[22px]">
                Wypełnij formularz, by dodać pojazd.
            </p>
        </div>
        <div class="p-[50px] bg-[#222121] mb-[-125px] relative z-10 shadow-[0_8px_17px_0_rgba(0,0,0,20%),0_6px_20px_0_rgba(0,0,0,19%)] sm:p-7 sm:pt-[50px]">
            <form asp-action="Create" class="pt-[10px] mx-[-15px] overflow-hidden" novalidate="novalidate">
                <div class="relative w-[calc(50%-30px)] float-left mx-[15px] mb-[25px] col:float-none col:w-[calc(100%-25px)]">
                    <span class="absolute top-[-11px] pointer-events-none left-[7px] text-sm px-[10px] block bg-[#222121]">
                        @Html.DisplayNameFor(x => x.Name)
                    </span>
                    <span class="absolute top-[-11px] pointer-events-none right-[7px] text-sm px-[10px] block bg-[#222121] text-red-500">
                        <span asp-validation-for="Name"></span>
                    </span>
                    <input required class="w-full bg-transparent h-[50px] border border-[#363636] text-[#D8D8D8] transition-all pl-[25px] focus:outline-0 focus:shadow-none focus:border-[#59C378] focus:bg-transparent outline-none" id="name" asp-for="Name">
                </div>
                <div class="relative w-[calc(50%-30px)] float-left mx-[15px] mb-[25px] col:float-none col:w-[calc(100%-25px)]">
                    <span class="absolute top-[-11px] pointer-events-none left-[7px] text-sm px-[10px] block bg-[#222121]">
                        @Html.DisplayNameFor(x => x.Model)
                    </span>
                    <span class="absolute top-[-11px] pointer-events-none right-[7px] text-sm px-[10px] block bg-[#222121] text-red-500">
                        <span asp-validation-for="Model"></span>
                    </span>
                    <input required class="w-full bg-transparent h-[50px] border border-[#363636] text-[#D8D8D8] transition-all pl-[25px] focus:outline-0 focus:shadow-none focus:border-[#59C378] focus:bg-transparent outline-none" id="model" asp-for="Model">
                </div>

                <div class="relative w-[calc(50%-30px)] float-left mx-[15px] mb-[25px] col:float-none col:w-[calc(100%-25px)]">
                    <span class="absolute top-[-11px] pointer-events-none left-[7px] text-sm px-[10px] block bg-[#222121]">
                        @Html.DisplayNameFor(x => x.MaxSpeed)
                    </span>
                    <span class="absolute top-[-11px] pointer-events-none right-[7px] text-sm px-[10px] block bg-[#222121] text-red-500">
                        <span asp-validation-for="MaxSpeed"></span>
                    </span>
                    <input class="w-full bg-transparent h-[50px] border border-[#363636] text-[#D8D8D8] transition-all pl-[25px] focus:outline-0 focus:shadow-none focus:border-[#59C378] focus:bg-transparent outline-none" id="maxspeed" asp-for="MaxSpeed">
                </div>
                <div class="relative w-[calc(50%-30px)] float-left mx-[15px] mb-[25px] col:float-none col:w-[calc(100%-25px)]">
                    <span class="absolute top-[-11px] pointer-events-none left-[7px] text-sm px-[10px] block bg-[#222121]">
                        @Html.DisplayNameFor(x => x.PricePerHour)
                    </span>
                    <span class="absolute top-[-11px] pointer-events-none right-[7px] text-sm px-[10px] block bg-[#222121] text-red-500">
                        <span asp-validation-for="PricePerHour"></span>
                    </span>
                    <input class="w-full bg-transparent h-[50px] border border-[#363636] text-[#D8D8D8] transition-all pl-[25px] focus:outline-0 focus:shadow-none focus:border-[#59C378] focus:bg-transparent outline-none" id="priceperhour" asp-for="PricePerHour">
                </div>

                <div class="relative w-[calc(50%-30px)] float-left mx-[15px] h-[50px] mb-[25px] col:float-none col:w-[calc(100%-25px)] flex items-center justify-center h-12">
                    <span asp-validation-for="IsAvailable" class="text-danger"></span>
                    <p class="inline mr-[8px]">Dostępność: </p><input class="inline-block w-auto bg-transparent h-[16px] border border-[#363636] text-[#D8D8D8] transition-all pl-[25px] focus:outline-0 focus:shadow-none focus:border-[#59C378] focus:bg-transparent outline-none" id="isavailable" asp-for="IsAvailable">
                </div>
                <div class="relative w-[calc(50%-30px)] float-left mx-[15px] mb-[25px] col:float-none col:w-[calc(100%-25px)]">
                    <span class="absolute top-[-11px] pointer-events-none left-[7px] text-sm px-[10px] block bg-[#222121]">
                        @Html.DisplayNameFor(x => x.ImageUrl)
                    </span>
                    <span class="absolute top-[-11px] pointer-events-none right-[7px] text-sm px-[10px] block bg-[#222121] text-red-500">
                        <span asp-validation-for="ImageUrl"></span>
                    </span>
                    <input class="w-full bg-transparent h-[50px] border border-[#363636] text-[#D8D8D8] transition-all pl-[25px] focus:outline-0 focus:shadow-none focus:border-[#59C378] focus:bg-transparent outline-none" id="imageurl" asp-for="ImageUrl" onchange="displayImage()">
                </div>

                <div class="relative w-[calc(50%-30px)] float-left mx-[15px] mb-[25px] col:float-none col:w-[calc(100%-25px)]">
                    <span class="absolute top-[-11px] pointer-events-none left-[7px] text-sm px-[10px] block bg-[#222121]">
                        @Html.DisplayNameFor(x => x.ManufactureDate)
                    </span>
                    <span class="absolute top-[-11px] pointer-events-none right-[7px] text-sm px-[10px] block bg-[#222121] text-red-500">
                        <span asp-validation-for="ManufactureDate"></span>
                    </span>
                    <input class="w-full bg-transparent h-[50px] border border-[#363636] text-[#D8D8D8] transition-all pl-[25px] focus:outline-0 focus:shadow-none focus:border-[#59C378] focus:bg-transparent outline-none" id="manufacturedate" asp-for="ManufactureDate">
                </div>
                <div class="relative w-[calc(50%-30px)] float-left mx-[15px] mb-[25px] col:float-none col:w-[calc(100%-25px)]">
                    <span class="absolute top-[-11px] pointer-events-none left-[7px] text-sm px-[10px] block bg-[#222121]">
                        @Html.DisplayNameFor(x => x.VehicleType)
                    </span>
                    <span class="absolute top-[-11px] pointer-events-none right-[7px] text-sm px-[10px] block bg-[#222121] text-red-500">
                        <span asp-validation-for="VehicleType"></span>
                    </span>
                    <select id="vehicletype" class="w-full bg-transparent h-[50px] border border-[#363636] text-[#D8D8D8] transition-all pl-[25px] focus:outline-0 focus:shadow-none focus:border-[#59C378] focus:bg-transparent" asp-for="VehicleType">
                        @foreach (var value in Enum.GetValues(typeof(UBBBikeRentalSystem.ViewModels.VehicleTypeEnum))) {
                            <option value="@value">@value</option>
                        }
                    </select>
                </div>
                <div class="w-[calc(100%-30px)] float-left mb-[25px] mx-[15px] relative">
                    <span class="absolute top-[-11px] pointer-events-none left-[7px] text-sm px-[10px] block bg-[#222121]">
                        @Html.DisplayNameFor(x => x.Description)
                    </span>
                    <span class="absolute top-[-11px] pointer-events-none right-[7px] text-sm px-[10px] block bg-[#222121] text-red-500">
                        <span asp-validation-for="Description"></span>
                    </span>
                    <textarea class="w-full bg-transparent h-[180px] border border-[#363636] text-[#D8D8D8] transition-all pt-[15px] pl-[25px] focus:outline-0 focus:shadow-none focus:border-[#59C378] focus:bg-transparent" id="description" asp-for="Description"></textarea>
                </div>

                <div id="imagePreviewHolder" class="m-[16px] block">
                    <p class="text-center">Podgląd grafiki:</p>
                    <img id="imagePreview" class="rounded h-[450px] mx-auto" src="" alt="" />
                </div>

                <div class="text-center w-full mb-[10px]">
                    <input type="submit" value="Dodaj" class="cursor-pointer bg-[#222121] text-[#fff] inline-block py-[12px] px-[22px] border border-[#59C378] rounded-[55px] capitalize transition-all hover:bg-[#59C378] hover:border-transparent" />
                </div>

                <div>
                    <p>
                        <a asp-action="Index">👈 Wróć do listy</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
    <div class="col-span-1"></div>
</div>
<p class="invisible mt-[150px]">&nbsp;</p>

<script>
    function displayImage() {
        var imageUrl = document.querySelector("#imageurl").value;
        const imagePreview = document.querySelector("#imagePreview");
        const imagePreviewHolder = document.querySelector("#imagePreviewHolder");

        imagePreviewHolder.style.display = imageUrl ? "initial" : "none";
        imagePreview.src = imageUrl ? imageUrl : "";
        imagePreview.alt = imageUrl ? imageUrl : "";
    }

    displayImage();
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
