@model UBBBikeRentalSystem.ViewModels.VehicleDetailViewModel

@{
    ViewData["Title"] = "Delete";
}

<div class="grid grid-cols-12 mb-[50px]">
    <div class="col-span-1"></div>
    <div class="col-span-10 md:col-span-12">
        <div class="max-w-[440px] mx-auto text-center my-[36px]">
            <h2 class="text-[35px] col:text-[25px] text-white font-base-font font-bold mb-[20px]">Usuwanie @Model.Name</h2>
            <p class="text-[#D8D8D8] text-[16px] leading-[22px]">
                Sprawdź czy to nie jest pomyłka, ponieważ usunięcie pojazdu jest nieodwracalne.
            </p>
        </div>
        <div class="p-[50px] bg-[#222121] mb-[-125px] relative z-10 shadow-[0_8px_17px_0_rgba(0,0,0,20%),0_6px_20px_0_rgba(0,0,0,19%)] sm:p-7 sm:pt-[50px]">
            <form asp-action="Delete" class="pt-[10px] mx-[-15px] overflow-hidden" novalidate="novalidate">
                <input type="hidden" asp-for="ID" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="relative w-[calc(50%-30px)] float-left mx-[15px] mb-[25px] col:float-none col:w-[calc(100%-25px)]">
                    <span class="absolute top-[-11px] pointer-events-none left-[7px] text-sm px-[10px] block bg-[#222121]">
                        @Html.DisplayNameFor(x => x.Name)
                    </span>
                    <span asp-validation-for="Name" class="text-danger"></span>
                    <input disabled class="w-full bg-transparent h-[50px] border border-[#363636] text-[#D8D8D8] transition-all pl-[25px] focus:outline-0 focus:shadow-none focus:border-[#DD584F] focus:bg-transparent outline-none" name="name" id="name" asp-for="Name" value="@Model.Name">
                </div>
                <div class="relative w-[calc(50%-30px)] float-left mx-[15px] mb-[25px] col:float-none col:w-[calc(100%-25px)]">
                    <span class="absolute top-[-11px] pointer-events-none left-[7px] text-sm px-[10px] block bg-[#222121]">
                        @Html.DisplayNameFor(x => x.Model)
                    </span>
                    <span asp-validation-for="Model" class="text-danger"></span>
                    <input disabled class="w-full bg-transparent h-[50px] border border-[#363636] text-[#D8D8D8] transition-all pl-[25px] focus:outline-0 focus:shadow-none focus:border-[#DD584F] focus:bg-transparent outline-none" name="model" id="model" asp-for="Model" value="@Model.Model">
                </div>

                <div class="relative w-[calc(50%-30px)] float-left mx-[15px] mb-[25px] col:float-none col:w-[calc(100%-25px)]">
                    <span class="absolute top-[-11px] pointer-events-none left-[7px] text-sm px-[10px] block bg-[#222121]">
                        @Html.DisplayNameFor(x => x.MaxSpeed)
                    </span>
                    <span asp-validation-for="MaxSpeed" class="text-danger"></span>
                    <input disabled class="w-full bg-transparent h-[50px] border border-[#363636] text-[#D8D8D8] transition-all pl-[25px] focus:outline-0 focus:shadow-none focus:border-[#DD584F] focus:bg-transparent outline-none" name="maxspeed" id="maxspeed" asp-for="MaxSpeed" value="@Model.MaxSpeed">
                </div>
                <div class="relative w-[calc(50%-30px)] float-left mx-[15px] mb-[25px] col:float-none col:w-[calc(100%-25px)]">
                    <span class="absolute top-[-11px] pointer-events-none left-[7px] text-sm px-[10px] block bg-[#222121]">
                        @Html.DisplayNameFor(x => x.PricePerHour)
                    </span>
                    <span asp-validation-for="PricePerHour" class="text-danger"></span>
                    <input disabled class="w-full bg-transparent h-[50px] border border-[#363636] text-[#D8D8D8] transition-all pl-[25px] focus:outline-0 focus:shadow-none focus:border-[#DD584F] focus:bg-transparent outline-none" name="priceperhour" id="priceperhour" asp-for="PricePerHour" value="@Model.PricePerHour">
                </div>

                <div class="relative w-[calc(50%-30px)] float-left mx-[15px] h-[50px] mb-[25px] col:float-none col:w-[calc(100%-25px)] flex items-center justify-center h-12">
                    <span asp-validation-for="IsAvailable" class="text-danger"></span>
                    <p class="inline mr-[8px]">Dostępność: </p><input disabled class="inline-block w-auto bg-transparent h-[16px] border border-[#363636] text-[#D8D8D8] transition-all pl-[25px] focus:outline-0 focus:shadow-none focus:border-[#DD584F] focus:bg-transparent outline-none" name="isavailable" id="isavailable" asp-for="IsAvailable" value="@Model.IsAvailable">
                </div>
                <div class="relative w-[calc(50%-30px)] float-left mx-[15px] mb-[25px] col:float-none col:w-[calc(100%-25px)]">
                    <span class="absolute top-[-11px] pointer-events-none left-[7px] text-sm px-[10px] block bg-[#222121]">
                        @Html.DisplayNameFor(x => x.ImageUrl)
                    </span>
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                    <input disabled class="w-full bg-transparent h-[50px] border border-[#363636] text-[#D8D8D8] transition-all pl-[25px] focus:outline-0 focus:shadow-none focus:border-[#DD584F] focus:bg-transparent outline-none" name="imageurl" id="imageurl" asp-for="ImageUrl" value="@Model.ImageUrl" onchange="displayImage()">
                </div>

                <div class="relative w-[calc(50%-30px)] float-left mx-[15px] mb-[25px] col:float-none col:w-[calc(100%-25px)]">
                    <span class="absolute top-[-11px] pointer-events-none left-[7px] text-sm px-[10px] block bg-[#222121]">
                        @Html.DisplayNameFor(x => x.ManufactureDate)
                    </span>
                    <span asp-validation-for="ManufactureDate" class="text-danger"></span>
                    <input disabled class="w-full bg-transparent h-[50px] border border-[#363636] text-[#D8D8D8] transition-all pl-[25px] focus:outline-0 focus:shadow-none focus:border-[#DD584F] focus:bg-transparent outline-none" name="manufacturedate" id="manufacturedate" asp-for="ManufactureDate">
                </div>
                <div class="relative w-[calc(50%-30px)] float-left mx-[15px] mb-[25px] col:float-none col:w-[calc(100%-25px)]">
                    <span class="absolute top-[-11px] pointer-events-none left-[7px] text-sm px-[10px] block bg-[#222121]">
                        @Html.DisplayNameFor(x => x.VehicleType)
                    </span>
                    <select disabled name="vehicletype" id="vehicletype" class="w-full bg-transparent h-[50px] border border-[#363636] text-[#D8D8D8] transition-all pl-[25px] focus:outline-0 focus:shadow-none focus:border-[#DD584F] focus:bg-transparent" asp-for="VehicleType">
                        @foreach (var value in Enum.GetValues(typeof(UBBBikeRentalSystem.ViewModels.VehicleTypeEnum))) {
                            <option value="@value" selected="@(value.ToString() == @Html.DisplayFor(model => model.VehicleType).ToString())">@value</option>
                        }
                    </select>
                    <span asp-validation-for="VehicleType" class="text-danger"></span>
                </div>
                <div class="w-[calc(100%-30px)] float-left mb-[25px] mx-[15px] relative">
                    <span class="absolute top-[-11px] pointer-events-none left-[7px] text-sm px-[10px] block bg-[#222121]">
                        @Html.DisplayNameFor(x => x.Description)
                    </span>
                    <textarea disabled class="w-full bg-transparent h-[180px] border border-[#363636] text-[#D8D8D8] transition-all pt-[15px] pl-[25px] focus:outline-0 focus:shadow-none focus:border-[#DD584F] focus:bg-transparent" name="description" id="description" value="@Model.Description" asp-for="Description"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div id="imagePreviewHolder" class="m-[16px] block">
                    <p class="text-center">Podgląd grafiki:</p>
                    <img id="imagePreview" class="rounded h-[450px] mx-auto" src="" alt="" />
                </div>

                <div class="text-center w-full mb-[10px]">
                    <input type="submit" value="Usuń" class="cursor-pointer bg-[#222121] text-[#fff] inline-block py-[12px] px-[22px] border border-[#DD584F] rounded-[55px] capitalize transition-all hover:bg-[#DD584F] hover:border-transparent" />
                </div>

                <div>
                    <p>
                        <a asp-action="Index">👈 Wróć do listy</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
    <div class="col-span-1"></div>
</div>
<p class="invisible mt-[150px]">&nbsp;</p>

<script>
    function displayImage() {
        var imageUrl = document.querySelector("#imageurl").value;
        const imagePreview = document.querySelector("#imagePreview");
        const imagePreviewHolder = document.querySelector("#imagePreviewHolder");

        if(imageUrl == '@Model.ImageUrl') imageUrl = false;

        imagePreviewHolder.style.display = imageUrl ? "initial" : "none";
        imagePreview.src = imageUrl ? imageUrl : "";
        imagePreview.alt = imageUrl ? imageUrl : "";
    }

    displayImage();
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
