@model IEnumerable<UBBBikeRentalSystem.ViewModels.VehicleItemViewModel>

@{
    ViewData["Title"] = "Lista pojazdów";
}

<section class="wraper mx-auto">
    <div class="flex flex-col my-6">
        <div class="overflow-x-auto">
            <div class="inline-block min-w-full align-middle md:px-6 lg:px-8">
                <div class="overflow-hidden border border-gray-200 dark:border-gray-700 rounded-lg">
                    <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
                        <thead class="bg-gray-50 dark:bg-[#2C2C2C]">
                            <tr>
                                <th scope="col" class="align-middle text-center py-3.5 px-4 text-sm font-normal text-gray-500 dark:text-gray-400">
                                    @Html.DisplayNameFor(model => model.ID)
                                </th>
                                <th scope="col" class="align-middle text-center py-3.5 px-4 text-sm font-normal text-gray-500 dark:text-gray-400">
                                    @Html.DisplayNameFor(model => model.Name)/@Html.DisplayNameFor(model => model.Model)
                                </th>
                                <th scope="col" class="align-middle text-center py-3.5 px-4 text-sm font-normal text-gray-500 dark:text-gray-400">
                                    Zdjęcie
                                </th>
                                <th scope="col" class="align-middle text-center py-3.5 px-4 text-sm font-normal text-gray-500 dark:text-gray-400">
                                    @Html.DisplayNameFor(model => model.VehicleType)
                                </th>
                                <th scope="col" class="align-middle text-center py-3.5 px-4 text-sm font-normal text-gray-500 dark:text-gray-400">
                                    @Html.DisplayNameFor(model => model.PricePerHour)
                                </th>
                                <th scope="col" class="align-middle text-center py-3.5 px-4 text-sm font-normal text-gray-500 dark:text-gray-400">
                                    
                                </th>
                            </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-200 dark:divide-gray-700 dark:bg-[#303030]">
                            @foreach (var item in Model) {
                                <tr>
                                    <td class="align-middle text-center px-4 py-4 text-sm font-medium whitespace-nowrap">
                                        <div>
                                            <h2 class="font-medium text-gray-800 dark:text-white">
                                                @Html.DisplayFor(modelItem => item.ID)
                                            </h2>
                                        </div>
                                    </td>
                                    <td class="align-middle text-center px-4 py-4 text-sm font-medium whitespace-nowrap">
                                        <div>
                                            <h2 class="font-medium text-gray-800 dark:text-white">
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </h2>
                                            <p class="text-sm font-normal text-gray-600 dark:text-gray-400">
                                                @Html.DisplayFor(modelItem => item.Model)
                                            </p>
                                        </div>
                                    </td>
                                    <td class="align-middle text-center px-4 py-4 text-sm font-medium whitespace-nowrap">
                                        <img class="inline-block w-[100px] select-none pointer-events-none rounded" src="@item.ImageUrl" alt="" />
                                    </td>
                                    <td class="align-middle text-center px-4 py-4 text-sm font-medium whitespace-nowrap">
                                        <div class="inline px-3 py-1 text-sm font-normal rounded-full text-emerald-500 gap-x-2 bg-emerald-100/60 dark:bg-[#212121]">
                                            @Html.DisplayFor(modelItem => item.VehicleType)
                                        </div>
                                    </td>
                                    <td class="align-middle text-center px-4 py-4 text-sm font-medium whitespace-nowrap">
                                        <div>
                                            <h2 class="font-medium text-gray-800 dark:text-white">
                                                @Html.DisplayFor(modelItem => item.PricePerHour)
                                            </h2>
                                        </div>
                                    </td>
                                    <td class="align-middle text-center px-4 py-4 text-sm font-medium whitespace-nowrap">
                                        @Html.ActionLink("Edytuj", "Edit", new { id=item.ID }) |
                                        @Html.ActionLink("Szczegóły", "Details", new { id=item.ID }) |
                                        @Html.ActionLink("Usuń", "Delete", new { id=item.ID })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <a class="text-center mt-[8px] block" asp-action="Create" asp-controller="Vehicle">Dodaj nowy</a>
            </div>
        </div>
    </div>
</section>