@model UBBBikeRentalSystem.ViewModels.ReservationPointViewModel

@{
    ViewData["Title"] = "Informacje o punkcie wypożyczeń";
}

<div class="wraper">
    <div class="grid grid-cols-12">
        <div class="col-span-1"></div>
        <div class="col-span-10 md:col-span-12">
            <div class="py-[50px] sm:py-[30px]">
                <div class="grid grid-cols-12 gap-3">
                    <div class="col-span-12 md:mb-7">
                        <div class="flow-root">
                            <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
                                <li class="py-3 sm:py-4">
                                    <div class="flex items-center space-x-4">
                                        <div class="flex-1 min-w-0">
                                            <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                                @Html.DisplayNameFor(model => model.ID)
                                            </p>
                                            <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                                @Html.DisplayFor(model => model.ID)
                                            </p>
                                        </div>
                                    </div>
                                </li>

                                <li class="py-3 sm:py-4">
                                    <div class="flex items-center space-x-4">
                                        <div class="flex-1 min-w-0">
                                            <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                                @Html.DisplayNameFor(model => model.Name)
                                            </p>
                                            <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                                @Html.DisplayFor(model => model.Name)
                                            </p>
                                        </div>
                                    </div>
                                </li>

                                <li class="py-3 sm:py-4">
                                    <div class="flex items-center space-x-4">
                                        <div class="flex-1 min-w-0">
                                            <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                                @Html.DisplayNameFor(model => model.Address)
                                            </p>
                                            <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                                @Html.DisplayFor(model => model.Address)
                                            </p>
                                        </div>
                                    </div>
                                </li>

                                <li class="py-3 sm:py-4">
                                    <div class="flex items-center space-x-4">
                                        <div class="flex-1 min-w-0">
                                            <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                                @Html.DisplayNameFor(model => model.City)
                                            </p>
                                            <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                                @Html.DisplayFor(model => model.City)
                                            </p>
                                        </div>
                                    </div>
                                </li>

                                <li class="py-3 sm:py-4">
                                    <div class="flex items-center space-x-4">
                                        <div class="flex-1 min-w-0">
                                            <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                                @Html.DisplayNameFor(model => model.PostalCode)
                                            </p>
                                            <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                                @Html.DisplayFor(model => model.PostalCode)
                                            </p>
                                        </div>
                                    </div>
                                </li>

                                <li class="py-3 sm:py-4">
                                    <div class="flex items-center space-x-4">
                                        <div class="flex-1 min-w-0">
                                            <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                                @Html.DisplayNameFor(model => model.Longitude)
                                            </p>
                                            <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                                @Html.DisplayFor(model => model.Longitude)
                                            </p>
                                        </div>
                                    </div>
                                </li>

                                <li class="py-3 sm:py-4">
                                    <div class="flex items-center space-x-4">
                                        <div class="flex-1 min-w-0">
                                            <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                                @Html.DisplayNameFor(model => model.Latitude)
                                            </p>
                                            <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                                @Html.DisplayFor(model => model.Latitude)
                                            </p>
                                        </div>
                                    </div>
                                </li>

                                <li class="py-3 sm:py-4">
                                    <div class="flex items-center space-x-4">
                                        <div class="flex-1 min-w-0">
                                            <a class="text-sm text-gray-500 truncate dark:text-gray-400" asp-action="Edit" asp-route-id="@Model.ID">
                                                Edytuj
                                            </a> | 
                                            <a class="text-sm text-gray-500 truncate dark:text-gray-400" asp-action="Index">
                                                Powrót do listy
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-span-1"></div>
    </div>
</div>
